{% extends 'base.html.twig' %}

{% block body %}
    <div class="form-group">
        <div id="league_choice_wrapper">
            <p>The home page has a snapshot of the upcoming fixtures for each of the English leagues with the exact fixture history available by clicking the "Show Past Results" button. You can click on a team to open up their current league form in a new tab. The GG algorithm currently factors in these past fixtures and current form, but can easily be tweaked or other variations can be added.</p>
            <p>Use the dropdowns below to view previous match day results so you can review and refine the algorithm (don't forget to hit 'Go'). The algorithm currently only takes into account up to the last 10 exact fixtures (where available), then mirrors this number when reviewing form. If there are less than five previous results it is discounted. The algorithm column on the historic pages shows 'N/A' if the score is less than 0.5 (implying no prediction), a tick if the score is above 0.5 and both teams score, otherwise it shows a cross to represent a failed prediction. To check the algorithm you can hover on the score and the title attribute will popup showing the numbers.</p>
            <select class="form-control" name="league_choices" id="league_choices">
                <option value="">Please select a league</option>
                {% for league in league_choices %}
                    <option value="{{ league }}">{{ league | season }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="season_choice_wrapper">
            <select class="form-control" name="seasons_list" id="seasons_list">
            </select>
        </div>
        <div id="matchday_choice_wrapper">
            <select class="form-control" name="matchday_list" id="matchday_list">
            </select>
        </div>
        <div id="ajaxSpinner" style="display: none;">
            <div class="ajaxSpinner"></div>
        </div>
    </div>
    <div class="form-group">
        <input style="display: none;" id="go_search_baby" class="btn btn-primary" type="button" value="Go"/>
    </div>

    <div class="form-group">
        <label for="algorithm_updated_value">Update algorithm success value</label>
        <input id="algorithm_updated_value" name="algorithm_updated_value" type="text" value="{{ algorithm_success_value }}"/>
        <input id="update_algorithm_success" class="btn btn-primary" type="button" value="Update"/>
    </div>

    <div id="fixtures_container">
        <p>Update </p>
        {% for fixture_data in league_fixtures %}
            {% include 'match/partials/resultsList.html.twig' %}
        {% endfor %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            var searched = false;
            $('#league_choices').on('change', function (){
                $.ajax({
                    url: '{{ path('ajax_season_list') }}',
                    data: {league_code: $(this).val()},
                    type: 'POST',
                    beforeSend: function () {
                        $('#ajaxSpinner').show();
                        $('#go_search_baby').hide();
                    }
                }).done(function (data) {
                    $('#ajaxSpinner').hide();
                    $('#season_choice_wrapper select').html(data);
                    $('#matchday_choice_wrapper select').html("<option value=''>Please select a match day</option>");
                });
            });
            $('#seasons_list').on('change', function (){
                var league_code = $('#league_choices').val();
                $.ajax({
                    url: '{{ path('ajax_matchday_list') }}',
                    data: {league_code: league_code, season: $(this).val()},
                    type: 'POST',
                    beforeSend: function () {
                        $('#ajaxSpinner').show();
                        $('#go_search_baby').hide();
                    }
                }).done(function (data) {
                    $('#ajaxSpinner').hide();
                    $('#matchday_choice_wrapper select').html(data);
                });
            });
            $('#matchday_list').on('change', function (){
                $('#go_search_baby').show();
            });
            $('#go_search_baby').on('click', function (){
                var league_code = $('#league_choices').val();
                var matchday = $('#matchday_list').val();

                $.ajax({
                    url: '{{ path('ajax_fixtures_list') }}',
                    data: {league_code: league_code, matchday: matchday},
                    type: 'POST',
                    beforeSend: function () {
                        $('#ajaxSpinner').show();
                    }
                }).done(function (data) {
                    $('#ajaxSpinner').hide();
                    $('#fixtures_container').html(data);
                    searched = true;
                });
            });
            $('#update_algorithm_success').on('click', function (){
                var algorithm_updated_value = $('#algorithm_updated_value').val();

                $.ajax({
                    url: '{{ path('update_algorithm_success_value') }}',
                    data: {algorithm_updated_value: algorithm_updated_value},
                    type: 'POST',
                    beforeSend: function () {
                        $('#ajaxSpinner').show();
                    }
                }).done(function (data) {
                    $('#ajaxSpinner').hide();
                    if(searched){
                        $('#go_search_baby').trigger('click');
                    }else{
                        location.reload();
                    }
                });
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('a.show-results').click(function(){
                var anchor = $(this);
                $(this).parent().parent().next().toggle(0, function() {
                    if ( $(this).is(':visible')) {
                        anchor.html('Hide Past Results');
                    }else{
                        anchor.html('Show Past Results');
                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}
