{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ seasonData.caption }}</h2>
    {% if fixtures.fixtures | length %}
        <h4>Fixtures: {{ fixtures.fixtures.0.date | date('d/m/Y') }}</h4>
    {% endif %}
    <ul class="list-group">
        {% for currentFixture in fixtures.fixtures %}
            <li class="list-group-item">
                <a target="_blank" href="{{ path('team_data', { 'teamId' : currentFixture.homeTeamId }) }}">{{ currentFixture.homeTeamName }}</a> {{ currentFixture.result.goalsHomeTeam }} - {{ currentFixture.result.goalsAwayTeam }} <a target="_blank" href="{{ path('team_data', { 'teamId' : currentFixture.awayTeamId }) }}">{{ currentFixture.awayTeamName }}</a>
                {% set fixtures = currentFixture.historicData.head2head %}
                {% include 'default/partials/resultsTable.html.twig' %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}