{% if fixture_data | length %}
    {% set first_fixture = fixture_data | first %}
    <h2>{{ first_fixture.fixture.leagueCode | season }}</h2>
    <h4>Match Day: {{ first_fixture.fixture.matchDate | date('d-m-Y') }}</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Fixture</th>
                <th style="text-align: center;">Algorithm Score</th>
                <th style="text-align: center;">GG Success?</th>
                <th style="text-align: center;">Algorithm Success?</th>
                <th style="text-align: center;">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for fixture in fixture_data %}
                <tr>
                    <td>
                        <a target="_blank" href="{{ path('team', { 'team_id' : fixture.fixture.hometeam.id }) }}">{{ fixture.fixture.hometeam.name }}</a> {{ fixture.fixture.homeScore is not null ? fixture.fixture.homeScore : '' }} - {{ fixture.fixture.awayScore is not null ? fixture.fixture.awayScore : '' }} <a target="_blank" href="{{ path('team', { 'team_id' : fixture.fixture.awayteam.id }) }}">{{ fixture.fixture.awayteam.name }}</a>
                    </td>
                    <td style="text-align: center;">
                        {% set alg = gg_alg(fixture.fixture.hometeam.id, fixture.fixture.awayteam.id, fixture.history, first_fixture.fixture.matchDate) %}
                        {% if alg.error is defined %}
                            {{ alg.error }}
                        {% else %}
                            <span title="{{ alg.score_breakdown | raw }}">{{ alg.score }}</span>
                        {% endif %}
                    </td>
                    <td style="text-align: center;">
                        {% if fixture.fixture.homeScore > 0 and fixture.fixture.awayScore > 0 %}
                            {% set gg = true %}
                            <span style="color: green;" class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            {% set gg = false %}
                            <span style="color: red;" class="glyphicon glyphicon-remove"></span>
                        {% endif %}
                    </td>
                    <td style="text-align: center;">
                        {% if alg.error is defined or alg.score < 0.5 %}
                            N/A
                        {% else %}
                            {% if alg.error is not defined and alg.score >= 0.5 and gg %}
                                <span style="color: green;" class="glyphicon glyphicon-ok"></span>
                            {% else %}
                                <span style="color: red;" class="glyphicon glyphicon-remove"></span>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td style="text-align: center;">
                        <a class="show-results" href="#">
                            Show Past Results
                        </a>
                    </td>
                </tr>
                <tr style="display: none;">
                    <td colspan="3">
                        {% include 'match/partials/resultsTable.html.twig' %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
<script type="text/javascript">
    $(document).ready(function(){
        $('a.show-results').click(function(){
            var anchor = $(this);
            $(this).parent().parent().next().toggle(0, function() {
                if ( $(this).is(':visible')) {
                    anchor.html('Hide Past Results');
                }else{
                    anchor.html('Show Past Results');
                }
            });
        });
    });
</script>