{% if fixture_data | length %}
    {% set first_fixture = fixture_data | first %}
    <h2>{{ first_fixture.fixture.leagueCode | season }}</h2>
    {% if upcoming is not defined %}
        <h4>Match Day: {{ first_fixture.fixture.matchDate | date('d-m-Y') }}</h4>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                {% if upcoming is defined %}
                    <th>Date</th>
                {% endif %}
                <th>Fixture</th>
                <th style="text-align: center;">Algorithm Score</th>
                {% if upcoming is defined %}
                    <th style="text-align: center;">Prediction?</th>
                {% endif %}
                {% if upcoming is not defined %}
                    <th style="text-align: center;">GG Success?</th>
                    <th style="text-align: center;">Algorithm Success?</th>
                {% endif %}
                <th style="text-align: center;">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for fixture in fixture_data %}
                <tr>
                    {% if upcoming is defined %}
                        <td>{{ fixture.fixture.matchDate | date('d-m-Y') }}</td>
                    {% endif %}
                    <td>
                        <a target="_blank" href="{{ path('team', { 'team_id' : fixture.fixture.hometeam.id }) }}">{{ fixture.fixture.hometeam.name }}</a> {{ fixture.fixture.homeScore is not null ? fixture.fixture.homeScore : '' }} - {{ fixture.fixture.awayScore is not null ? fixture.fixture.awayScore : '' }} <a target="_blank" href="{{ path('team', { 'team_id' : fixture.fixture.awayteam.id }) }}">{{ fixture.fixture.awayteam.name }}</a>
                    </td>
                    <td style="text-align: center;">
                        {% set alg = gg_alg(fixture.fixture.hometeam.id, fixture.fixture.awayteam.id, fixture.history, first_fixture.fixture.matchDate) %}
                        <span title="{{ alg.score_breakdown | raw }}">{{ alg.score |number_format(2, '.', ',') }}</span>
                        {% if alg.error is defined %}
                            <span title="{{ alg.error }}" style="color: blue;" class="glyphicon glyphicon-info-sign"></span>
                        {% endif %}
                    </td>
                    {% if upcoming is defined %}
                        <td style="text-align: center;">
                                {% if alg.score | number_format(2, '.', ',') >= algorithm_success_value %}
                                    <span style="color: green;" class="glyphicon glyphicon-ok"></span>
                                {% else %}
                                    <span style="color: red;" class="glyphicon glyphicon-remove"></span>
                                {% endif %}
                        </td>
                    {% endif %}
                    {% if upcoming is not defined %}
                        <td style="text-align: center;">
                            {% if fixture.fixture.homeScore is null %}
                                N/A
                            {% else %}
                                {% if fixture.fixture.homeScore > 0 and fixture.fixture.awayScore > 0 %}
                                    {% set gg = true %}
                                    <span style="color: green;" class="glyphicon glyphicon-ok"></span>
                                {% else %}
                                    {% set gg = false %}
                                    <span style="color: red;" class="glyphicon glyphicon-remove"></span>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td style="text-align: center;">
                            {% if alg.error is defined or alg.score | number_format(2, '.', ',') < algorithm_success_value or gg is not defined %}
                                N/A
                            {% else %}
                                {% if alg.error is not defined and alg.score | number_format(2, '.', ',') >= algorithm_success_value and gg %}
                                    <span style="color: green;" class="glyphicon glyphicon-ok"></span>
                                {% else %}
                                    <span style="color: red;" class="glyphicon glyphicon-remove"></span>
                                {% endif %}
                            {% endif %}
                    {% endif %}
                        </td>
                    <td style="text-align: center;">
                        <a class="show-results" href="#">
                            Show Past Results
                        </a>
                    </td>
                </tr>
                <tr style="display: none;">
                    <td colspan="5">
                        {% include 'match/partials/resultsTable.html.twig' %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
<script type="text/javascript">
    $(document).ready(function(){
        $('a.show-results').click(function(){
            var anchor = $(this);
            $(this).parent().parent().next().toggle(0, function() {
                if ( $(this).is(':visible')) {
                    anchor.html('Hide Past Results');
                }else{
                    anchor.html('Show Past Results');
                }
            });
            return false;
        });
    });
</script>